/* Estilo general del cuerpo */
body {
    background-color: #333; /* Color de fondo oscuro */
    color: #fff; /* Color del texto en blanco */
    font-family: Arial, sans-serif; /* Fuente de texto */
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el relleno predeterminado */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenido ocupe al menos el 100% de la altura de la ventana */
}

/* Estilo de la cabeza de página */
header {
    background-color: #222;
    color: #888; /* Color de texto gris para el encabezado */
    text-align: center; /* Centra el encabezado */
}

/* Estilo del pie de página */
footer {
    background-color: #222; /* Fondo más oscuro para el pie de página */
    color: #999; /* Texto de color gris claro */
    text-align: center; /* Centra el texto en el pie de página */
    padding: 10px 0; /* Agrega relleno en la parte superior e inferior del pie de página */
    position:fixed;
    left:0px;
    bottom: 0; /* Fija el pie de página en la parte inferior de la página */
    width: 100%; /* Asegura que el ancho del pie de página sea igual al ancho de la página */
}

span{
    color: #FF0000;
}
